name: "duplicate issue"

on: [issues]

jobs:
  flag:
    if: (github.event.action == 'opened' || github.event.action == 'edited') && github.event.issue.title == 'Extension causes high cpu load'

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Comment and close as duplicate
        run: |
          gh issue comment "$NUMBER" --body "Duplicate of #443"
          gh issue close "$NUMBER"
        env:
          NUMBER: ${{github.event.issue.number}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
